html {
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 50px;
	padding-bottom: 0;
}

#content{
	background: #fff;
	clear: both;
	width: 700px;
	color: #333;
	padding-bottom: 50px;
	margin-left: 250px;
	overflow: auto;
}

/* NAVBAR */
.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.navbar {
	padding:15px;
	-webkit-transition: background .8s ease-out,padding .8s ease-out;
	-moz-transition: background .8s ease-out,padding .8s ease-out;
	transition: background .8s ease-out,padding .8s ease-out;
}

.navbar-pad-original {
	padding:0px;
}

/* FOOTER */
#footer-sec {
	background-color:#000;
	color:#808080;
	height:50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}
#footer-sec h4 {
	color:#fff;
}
.text-break-word {
	word-wrap: break-word;
}
